@charset "UTF-8";
@font-face {
  font-family: "header-font";
  src: url(./fonts/nantes/Nantes-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "text-font";
  src: url(./fonts/messina/MessinaSans-Light.ttf) format("truetype");
  font-weight: 350;
}
body {
  background: #EDEDED;
  scroll-behavior: smooth;
}

.text-color-50 {
  color: #CDCDCD;
}

.header-font {
  font-family: header-font;
}

.body-text {
  font-family: text-font;
}

.par-text-color {
  color: #191618;
}

.font-normal-350 {
  font-weight: 350;
}

.fixed-nav-bg {
  background: #F3F3F3 !important;
}

.select-page {
  cursor: pointer;
  /* Arrow */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

@media screen and (min-width: 640px) {
  .sm-w-81 {
    width: 21rem;
  }
}
.nav-bg-blue {
  background: rgb(32, 66, 182) !important;
  border: 1px solid rgb(32, 66, 182);
}

.nav-blue:hover {
  background: rgb(32, 66, 182) !important;
  border: 1px solid rgb(32, 66, 182);
  color: white;
}

.nav-border-blue {
  border: 1px solid rgb(32, 66, 182);
}

.navbar-hidden {
  display: none;
  opacity: 0;
}

.navbar-hidden.remove {
  display: block;
  opacity: 1;
}

#rotate-btn.rotate1 {
  transition: all 0.5s linear;
  transform: rotate(360deg);
}

#rotate-btn.rotate2 {
  transition: all 0.5s linear;
  transform: rotate(180deg);
}

.border-btm-color {
  border-color: #90B8F0;
  border-bottom-width: 2px;
}

.nav-drop-shadow:hover, .nav-drop-shadow:focus, .nav-drop-shadow:active {
  box-shadow: 0px 24px 36px 0px rgba(0, 0, 0, 0.25);
}

.nav-item-shadow-active {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.48);
}

.nav-item-shadow:hover, .nav-item-shadow:focus, .nav-item-shadow:active {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.48);
}

.hero .bg-primary {
  background-color: #2042B6;
}
.hero .navbar {
  z-index: 1000;
}
.hero .navbar .top-right-side-navbar {
  z-index: -1;
}
.hero .navbar ul li a {
  width: 100%;
  display: block;
  transition: transform 0.2s ease-in-out 0.1s;
}
.hero .navbar ul li:not(:last-child) a:hover {
  color: #2042B6;
  transform: scaleX(1.05);
  border-bottom: 1px solid #2042B6;
}
.hero .navbar ul li:last-child a:hover {
  transform: scaleX(1.05);
}
.hero .navbar ul li:last-child {
  margin-top: 1.5rem;
  margin-bottom: 12px;
}
.hero .hero_header {
  font-family: header-font;
}
.hero .hero_text {
  font-family: text-font;
  font-weight: 350;
}
.hero .hero_left_side {
  position: absolute;
  top: 14rem;
  left: 1.5rem;
}
@media screen and (max-width: 767px) {
  .hero .hero_left_side {
    left: 0;
    bottom: 1rem;
    top: unset;
    width: 100%;
    text-align: center;
  }
}
.hero .hero_left_side_flex {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero .hero_left_side_flex {
    flex-direction: column;
  }
}

.chart-section .mid-navbar {
  z-index: 1000;
}
.chart-section .mid-navbar .mid-right-side-navbar {
  z-index: -1;
}
.chart-section .mid-navbar ul li a {
  width: 100%;
  display: block;
  transition: transform 0.2s ease-in-out 0.1s;
}
.chart-section .mid-navbar ul li:not(:last-child) a:hover {
  color: #2042B6;
  transform: scaleX(1.05);
  border-bottom: 1px solid #2042B6;
}
.chart-section .mid-navbar ul li:last-child a:hover {
  transform: scaleX(1.05);
}
.chart-section .mid-navbar ul li:last-child {
  margin-top: 1.5rem;
  margin-bottom: 12px;
}
.chart-section .right-nav-bg {
  background: #EFF3F6;
}
.chart-section .chart-section-index {
  display: block;
  position: relative;
}
.chart-section .plusminus {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 20%;
  bottom: 0;
}
.chart-section .sectors .dropdown:hover .dropdown-menu {
  display: block;
}
.chart-section .segmented-control {
  position: relative;
  display: inline-block;
  background-color: #f0f4f7;
  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.chart-section .segmented-control input[type=radio] {
  display: none;
}
.chart-section .segmented-control label {
  flex: 1;
  text-align: center;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}
.chart-section .segmented-control label:hover {
  color: #2042B6;
}
.chart-section .segmented-control .indicator {
  position: absolute;
  top: 11%;
  bottom: 11%;
  width: 20%;
  background-color: #2042B6;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.48);
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.chart-section .segmented-control input[type=radio]:nth-of-type(1):checked ~ .indicator {
  transform: translateX(0);
}
.chart-section .segmented-control input[type=radio]:nth-of-type(2):checked ~ .indicator {
  transform: translateX(96%);
}
.chart-section .segmented-control input[type=radio]:nth-of-type(3):checked ~ .indicator {
  transform: translateX(195%);
}
.chart-section .segmented-control input[type=radio]:nth-of-type(4):checked ~ .indicator {
  transform: translateX(292%);
}
.chart-section .segmented-control input[type=radio]:nth-of-type(5):checked ~ .indicator {
  transform: translateX(392%);
}
.chart-section .segmented-control input[type=radio]:nth-of-type(1):checked ~ label:nth-of-type(1),
.chart-section .segmented-control input[type=radio]:nth-of-type(2):checked ~ label:nth-of-type(2),
.chart-section .segmented-control input[type=radio]:nth-of-type(3):checked ~ label:nth-of-type(3),
.chart-section .segmented-control input[type=radio]:nth-of-type(4):checked ~ label:nth-of-type(4),
.chart-section .segmented-control input[type=radio]:nth-of-type(5):checked ~ label:nth-of-type(5) {
  color: #fff;
}

.apexcharts-line {
  cursor: pointer;
}
.apexcharts-legend {
  gap: 6px;
}
.apexcharts-legend-marker {
  margin-right: 6px !important;
}
.apexcharts-tooltip {
  border: 1px solid black !important;
  padding: 10px 16px !important;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  border: none !important;
  background-color: white !important;
  padding: 0 !important;
}
.apexcharts-tooltip-series-group {
  padding: 0 !important;
}
.apexcharts-tooltip-text {
  font-family: "Times New Roman", Times, serif !important;
  font-weight: normal !important;
  font-size: 14px !important;
}
.apexcharts-tooltip-marker {
  border-radius: 0 !important;
}
.apexcharts-xaxistooltip-bottom {
  display: none !important;
}

.table-section .table {
  background: rgba(255, 255, 255, 0.75);
  table-layout: fixed;
  margin: auto;
  width: 97%;
}
.table-section .table tr:nth-child(even) td {
  background: rgb(243, 243, 243);
}
.table-section .table tr:nth-child(even) td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.table-section .table tr:nth-child(even) td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.table-section .table td,
.table-section .table th {
  vertical-align: baseline;
  text-align: center;
  padding: 5px 10px;
  color: black;
  font-size: 16px;
}
.table-section .table th {
  font-size: 18px;
}
@media screen and (max-width: 1023px) {
  .table-section .table th {
    font-size: 16px;
  }
  .table-section .table td {
    font-size: 14px;
  }
}
.table-section .table th {
  font-family: header-font;
  text-transform: capitalize;
  font-weight: 400;
}
.table-section .table td {
  font-family: body-text;
}
.table-section .table tr:first-child th:nth-child(1) {
  font-weight: bold;
}
.table-section .table tr:first-child th:nth-child(2)::after {
  content: "▼";
  margin-left: 10px;
  font-size: 16px;
}
.table-section .table-container {
  max-width: 100%;
  max-height: 500px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: rgb(32, 66, 182), rgb(229, 241, 243);
}
.table-section .table.scrollable {
  min-width: 764px;
}

.grid-img-section .grid-bg {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  z-index: 0;
}
.grid-img-section .grid-bg::before {
  content: "";
  background-color: white;
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: -1;
  top: 20%;
  transform: translateY(0%);
  border-radius: 8px;
}
@media screen and (max-width: 639px) {
  .grid-img-section .grid-bg img {
    margin: auto;
  }
  .grid-img-section .grid-bg > div {
    text-align: center;
  }
}

.state-slider {
  position: relative;
}
.state-slider .state-slider-right {
  position: absolute;
}
@media screen and (min-width: 640px) {
  .state-slider .state-slider-right {
    left: 50%;
  }
}

.about-section .about-section-container {
  position: relative;
  height: 70vh;
}
@media screen and (max-width: 639px) {
  .about-section .about-section-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.about-section .about-left,
.about-section .about-right {
  position: absolute;
}
@media screen and (max-width: 639px) {
  .about-section .about-left,
  .about-section .about-right {
    position: relative;
  }
}
@media screen and (min-width: 640px) {
  .about-section .about-left {
    height: 100%;
    top: 10%;
    right: 50%;
    left: 10%;
    transform: translate(-10%, -10%);
  }
  .about-section .about-right {
    left: 50%;
    height: 100%;
  }
}
@media screen and (max-width: 639px) {
  .about-section .about-left {
    padding: 10px 8px;
  }
  .about-section .about-left,
  .about-section .about-right {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.footer .footer_bg_color {
  background-color: #CDCDCD;
}
.footer .footer_copyright_color {
  color: #9FA0A1;
}
.footer .footer-link a:hover {
  color: #2042B6;
}
.footer .line-gray {
  border-bottom: 2px solid rgb(156, 163, 175);
  border-radius: 2px;
  width: 100%;
}
.footer-icon {
  width: 4.5rem;
}
.footer-icon svg {
  width: 100%;
  height: 20px;
}/*# sourceMappingURL=style.css.map */